.idea
.gradle
*.iml
out
build
*.class
transaction-logs
_site

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
build/libs/*.jar
*.war
*.ear
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store
generated